<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkct.hzdlzcgl">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".ScanningActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".DataListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ImageLookActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/IMTheme.Transparent" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NewScanningActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>